.header {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 1000;
  position: fixed;
  padding: 0;
  transition: top 1s ease;
  height: 58px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.03); /* 軽い影を追加 */
  transition:
    background-color 1s ease
}
.header.show {
  background-color: #53aec0;
  opacity: 0.98;
  backdrop-filter: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 100%;
  transition:
    background-color 1s ease
}

.header .nav {
  display: block;
}

@media (max-width: 640px) {
  .header {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    justify-content: flex-end;
    position: fixed;
  }
}

.logo {
  height: 58px;
  width: auto;
}
.items {
  display: flex;
  color: #fff;
  gap: 40px;
}
@media (max-width: 640px) {
  .header {
    padding: 8px 16px;
  }
}
