# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
out/
.next

# Misc
.DS_Store
*.env.local
*.env.*.local

# Large video files
*.mp4
*.avi
*.mov
*.mkv

# PSD files (optional)
*.psd
# AI forum folder
public/AI_forum/