.sidemenu_container {
  width: 100%;
  height: auto;
}
.thumbnail {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.thumbnail img {
  width: 110px;
  height: 80px;
  margin-right: 6px;
  border-radius: 5px;
}
.content p {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4em;
  color: #333;
}
.content h4 {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4em;
  color: #333;
  /* color: #5bb4c6; */
  margin-bottom: 4px;
}
.content span.blog_date {
  width: 100%;
  height: auto;
  font-size: 10px;
  font-weight: normal;
  color: #ccc;
  margin-bottom: 2px;
}
.caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 4px 0px;
}
.caption img {
  display: block;
  width: 18px !important;
  height: 18px !important;
  margin-right: 6px;
}

.caption p.author_name {
  display: inline-block;
  font-size: 10px;
  color: #818181;
  margin: 0px 8px 0px 0px;
}

@media (max-width: 768px) {
  .thumbnail img {
    width: 100% !important;
    height: 80px;
    margin-right: 6px;
    border-radius: 5px;
  }
  .content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 15px;
  }
  .content h4 {
    color: #333;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
  }
  .content span.blog_date {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: normal;
    color: #ccc;
    margin-bottom: 2px;
  }
  .caption {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 4px 0px;
  }
  .caption img {
    display: block;
    width: 18px !important;
    height: 18px !important;
    margin-right: 6px;
  }

  .caption p.author_name {
    display: inline-block;
    font-size: 12px;
    color: #818181;
    margin: 0px 8px 0px 0px;
  }
}
