.text_content {
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
}

.thumbnail_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  transition: opacity 0.3s ease;
}

.thumbnail_card_blogtop {
  background-color: #f8f8f8;
  margin-bottom: 80px;
}

ul.thumbnail_list,
ul.thumbnail_list_blogtop {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 24px 10px;
}

ul.thumbnail_list {
  flex-direction: column;
}

ul.thumbnail_list_blogtop {
  flex-direction: row;
}

ul.thumbnail_list_blogtop li {
  flex: 1 1 32.5%;
  max-width: 32.5%;
  margin: 0;
}

@media (min-width: 874px) and (max-width: 1180px) {
  ul.thumbnail_list_blogtop li {
    flex-basis: 49%;
    max-width: 49.5%;
  }
}

@media (max-width: 873px) {
  ul.thumbnail_list_blogtop {
    flex-direction: column;
  }

  ul.thumbnail_list_blogtop li {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0;
  }
}
